/**
 * Filename: index.css
 * Author: Glenn Abastillas
 * Date: February 18, 2020
 *
 * Stylesheet for cluster study
 */

html, body, svg
{
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;
}

svg
{
    background: white;
    border-radius: 1em;
    /* filter: blur(0.05rem); */
}


svg text
{
    font-family: 'Helvetica', sans-serif;
    font-size: 2em;
    /*text-anchor: middle;*/
    vertical-align: middle;
    alignment-baseline: middle;
}

button
{
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    display: block;
}

circle
{
    fill: green;
    transition: all 0.2s ease;
}

circle:hover
{
    stroke-width: 1em;
    fill: red;
    transition: all 0.2s ease;
}

.container
{
    padding: 1em;
    background: #dfefff;
    height: 100%;

    display: flex;
    flex-direction: column;
}