html, body {
	margin: 0;
	font-family: "Helvetica", sans-serif;
}

a {
	text-decoration: none;
}

.panel {
	height: auto;
	margin: auto;
	display: block;
	top: 50%;
	/* transform: translateY(-50%); */
	background-color: salmon;
	padding: 2em 0 2em 0;
	font-size: 1.5em;
	text-align: center;
}

.panel form{
	top: 50%;
	width: 50%;
	margin: auto;
	position: relative;
}

.panel label{
	text-align: left;
}

.panel input{
	height: 1.5em;
	width: 3em;
	font-size: 2em;
	font-family: 'Roboto', 'Helvetica', sans-serif;
	border: none;
	border-radius: 0.25em;
	padding: 0.25em;
	background: lightpink;
}

.panel input:active {
	border: none;
}

.panel button {
	font-size: 1.5em;
	border-radius: 0.25em;
	background: gray;
	margin-top: 0.25em;
	border: none;
	cursor: pointer;
}

.panel button:hover {
	background-color: crimson;
}

.secondary-input {
	height: 0.5em;
	font-size: 0.5em;
	visibility: hidden;
	display: none;;
}

.display {
	height: auto;
	width: 100%;
	bottom: 0;
	display: flex;
	background: lightskyblue;
	flex-direction: column;
}

.article {
	text-align: left;
	padding: 0 1em 0 1em;
}