html, body {
    font-family: "Helvetica", sans-serif;
    margin: 0
}

ul {
    margin: 0;
}

.panel {
    display: block;
    position: relative;
    margin: auto;
    height: 10em;
    width: 50em;
}

.tabs {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-align: center;
    margin-top: 0.2em;
}

.tab {
    border-radius: 0.5em 0.5em 0 0;
    background: gray;
    color: white;
    margin-top: 0;
    margin-right: 0.1em;
    width: 10em;
}

.tab:hover {
    background: lightblue;
}

.tab.active {
    background: darkgray;
}

.display {
    border-radius: 0.5em;
    background: gray;
    height: 10em;
}

.display ul {
    visibility: hidden;
}

.display.active ul {
    background: lightgray;
    visibility: visible;
}