/*
    filename: index.css
    author: glenn abastillas
    created: 2020-02-27
    description: stylesheet for the input, button, and form element study
 */

 html, body, div
 {

    display: flex;
    flex-direction: row;

    padding: 0;
    margin: 0;

    width: 100%;
    height: 100%;

    font-family: 'Helvetica', 'Arial', 'Calibri Light', sans-serif;
    text-align: center;
 }

 h1, h2, h3
 {
    margin: 0 auto;
 }

 label
 {
    text-align: left;
    margin-top: 1em;
    font-size: 0.5em;
 }

 textarea
 {
    resize: none;
    height: 5em;
 }

 div #output
 {
    word-wrap: break-word;
 }

 .section
 {
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    vertical-align: middle;
    height: auto;
 }

 .stack
 {
    width: auto;
    height: auto;
    margin: auto 1em;
    padding: 1em;
    background: white;
 }

 .group
 {
    display: flex;
    flex-direction: row;
 }

 .group input
 {
    margin-left: 3em;
 }

 .input
 {
    background: rgba(200, 100, 10, 0.1);
 }

 .button
 {
    background: rgba(10, 100, 200, 0.1);
 }

 .form
 {
    background: rgba(100, 10, 200, 0.1);
 }